<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <title>Add candidate</title>
    <div th:insert="/fragments :: includes">
    </div>
  </head>
  <body>

    <div th:insert="/fragments :: menu">
    </div>
    <div class="row">
      <div class="col"></div>
      <div class="col">
        <h1>Add candidate</h1>
        <form action="#" th:action="@{/demo/add}" th:object="${candidate}" method="post">
          <div class="form-group">
            <input type="hidden" class="form-control" id="id" name="id" th:field="*{id}" />
          </div>
          <div class="form-group">
            <label for="name">Name</label>
            <input type="text" class="form-control" id="name" placeholder="Enter name" name="name" th:field="*{name}" required />
          </div>
          <div class="form-group">
            <label for="surname">Surname</label>
            <input type="text" class="form-control" id="surname" placeholder="Enter surname" name="surname" th:field="*{surname}" required />
          </div>
          <div class="form-group">
            <label for="email">Email</label>
            <input type="email" class="form-control" id="email" placeholder="Enter email" name="email" th:field="*{email}" required />
          </div>
          <div class="form-group">
            <label for="phone">Phone</label>
            <input type="text" class="form-control" id="phone" placeholder="Enter phone" name="phone" th:field="*{phone}" required />
          </div>

          <div class="form-check mb-2 mr-sm-2">
            <label class="form-check-label">
              <input class="form-check-input" type="checkbox" id="eligibleForTest" name="eligibleForTest" th:field="*{eligibleForTest}">Eligible for test
            </label>
          </div>

          <div class="form-group">
            <label for="testCallOutcome">Test call outcome</label>
            <select class="form-control" id="testCallOutcome" name="testCallOutcome" th:field="*{testCallOutcome}">
              <option selected value=""> -- select an option -- </option>
              <option th:each="value : ${T(hello.CallOutcome).values()}" th:value="${value}" th:text="${value}">
              </option>
            </select>
          </div>

          <div class="form-group">
            <label for="testDate">Test date</label>
            <input type="datetime-local" class="form-control" id="testDate" placeholder="Enter test date" name="testDate" th:field="*{testDate}" />
          </div>

          <div class="form-check mb-2 mr-sm-2">
            <label class="form-check-label">
              <input class="form-check-input" type="checkbox" id="presentAtTest" name="presentAtTest" th:field="*{presentAtTest}">Present at test
            </label>
          </div>

          <div class="form-check mb-2 mr-sm-2">
            <label class="form-check-label">
              <input class="form-check-input" type="checkbox" id="eligibleForInterview" name="eligibleForInterview" th:field="*{eligibleForInterview}">Eligible for interview
            </label>
          </div>

          <div class="form-group">
            <label for="interviewCallOutcome">Interview call outcome</label>
            <select class="form-control" id="interviewCallOutcome" name="interviewCallOutcome" th:field="*{interviewCallOutcome}">
              <option selected value=""> -- select an option -- </option>
              <option th:each="value : ${T(hello.CallOutcome).values()}" th:value="${value}" th:text="${value}">
              </option>
            </select>
          </div>

          <div class="form-group">
            <label for="testDate">Interview date</label>
            <input type="datetime-local" class="form-control" id="interviewDate" placeholder="Enter interview date" name="interviewDate" th:field="*{interviewDate}" />
          </div>

          <div class="form-check mb-2 mr-sm-2">
            <label class="form-check-label">
              <input class="form-check-input" type="checkbox" id="presentAtInterview" name="presentAtInterview" th:field="*{presentAtInterview}">Present at interview
            </label>
          </div>

          <div class="form-group">
            <label for="phone">Comments</label>
            <textarea class="form-control" id="details" placeholder="Enter comments" name="details" th:field="*{details}" rows="3" />
          </div>

          <div class="form-group">
            <label for="testGrade">Test grade</label>
            <input type="number" step="0.01" class="form-control" id="testGrade" placeholder="Enter test grade" name="testGrade" th:field="*{testGrade}"  />
          </div>

          <div class="form-group">
            <label for="hrGrade">HR grade</label>
            <input type="number" step="0.01" class="form-control" id="hrGrade" placeholder="Enter HR grade" name="hrGrade" th:field="*{hrGrade}"  />
          </div>

          <div class="form-group">
            <label for="interviewGrade">Interview grade</label>
            <input type="number" step="0.01" class="form-control" id="interviewGrade" placeholder="Enter interview grade" name="interviewGrade" th:field="*{interviewGrade}"  />
          </div>

          <div class="form-group">
            <label for="schoolInfo">School info</label>
            <input type="text" class="form-control" id="schoolInfo" placeholder="Enter school info" name="schoolInfo" th:field="*{schoolInfo}"  />
          </div>

          <div class="form-group">
            <label for="schoolYear">School year</label>
            <input type="number" step="1" class="form-control" id="schoolYear" placeholder="Enter school year" name="schoolYear" th:field="*{schoolYear}"  />
          </div>

          <div class="form-group">
            <label for="maxSchoolYear">Max school year</label>
            <input type="number" step="1" class="form-control" id="maxSchoolYear" placeholder="Enter max school year" name="maxSchoolYear" th:field="*{maxSchoolYear}"  />
          </div>

          <input type="submit" value="Submit" class="btn btn-primary" />
          <input type="reset" value="Reset" class="btn btn-primary" />
        </form>
      </div>
      <div class="col"></div>

    </div>
  </body>
</html>