<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Getting Started: Handling Form Submission</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<header th:insert="/menu :: header"> </header>

  <h1>Form</h1>
    <form action="#" th:action="@{/demo/add}" th:object="${candidate}" method="post">
        <p>Name: <input type="text" th:field="*{name}" /></p>
        <p>Surname: <input type="text" th:field="*{surname}" /></p>
        <p>Email: <input type="text" th:field="*{email}" /></p>
        <p>Phone: <input type="text" th:field="*{phone}" /></p>
        <p><input type="submit" value="Submit" /> <input type="reset" value="Reset" /></p>
    </form>
</body>
</html>