<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<!DOCTYPE html>
<html lang="en">
<head>
  <title>View candidates</title>
  <div th:insert="/fragments :: includes"> </div>

</head>
<body>

<body>
<header th:insert="/fragments :: menu"> </header>
<div class="container">
<table class="table table-striped">
    <thead>
        <tr>
            <th> Id </th>
            <th> Name </th>
            <th> Surname </th>
            <th> Email </th>
            <th> Phone </th>
            <th>El. Test</th>
            <th>Call test</th>
        </tr>
    </thead>
    <tbody>
    <tr th:if="${candidates.empty}">
            <td colspan="5"> No Candidates Available </td>
        </tr>
        <tr th:each="c : ${candidates}">
            <td><span th:text="${c.id}"> Id </span></td>
            <td><A th:href="@{/demo/edit(id=${c.id})}"><span th:text="${c.name}"></span></A></td>
            <td><span th:text="${c.surname}"> Surname </span></td>
            <td><span th:text="${c.email}"> Email </span></td>
            <td><span th:text="${c.phone}"> Phone </span></td>
            <td><span th:if="${c.eligibleForTest}"><i class="fa fa-check" style="font-size:26px;color:green;"></i></span></td>
            <td><span th:text="${c.testCallOutcome}"></span></td>
        </tr>
    </tbody>
</table>
</div>
</body>
</html>