<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<!DOCTYPE html>
<html lang="en">
<head>
  <title>View candidates</title>
  <div th:insert="/fragments :: includes"> </div>

</head>
<body>

<body>
<header th:insert="/fragments :: menu"> </header>
<div class="container">
<table class="table table-striped table-sm table-hover">
    <thead>
        <tr>
            <th> Id </th>
            <th> Name </th>
            <th> Surname </th>
            <th> Email </th>
            <th> Phone </th>
            <th>TE</th>
            <th>TC</th>
            <th>TD</th>
            <th>TP</th>
            
            <th>IE</th>
            <th>IC</th>
            <th>ID</th>
            <th>IP</th>
            
            <th>GT</th>
            <th>GHR</th>
            <th>GI</th>
            <th>AVG</th>
            
            <th>Sch</th>
            <th>Yr</th>
            <th>MxYr</th>
            
            <th>Comments</th>
        </tr>
    </thead>
    <tbody>
    <tr th:if="${candidates.empty}">
            <td colspan="9"> No Candidates Available </td>
        </tr>
        <tr th:each="c : ${candidates}">
            <td><span th:text="${c.id}"> Id </span></td>
            <td><A th:href="@{/demo/edit(id=${c.id})}"><span th:text="${c.name}"></span></A></td>
            <td><span th:text="${c.surname}"> Surname </span></td>
            <td><span th:text="${c.email}"> Email </span></td>
            <td><span th:text="${c.phone}"> Phone </span></td>
            
            <td><span th:if="${c.eligibleForTest}"><i class="fa fa-check" style="font-size:26px;color:green;"></i></span></td>
            <td><span th:text="${c.testCallOutcome}"></span></td>
            <td><span th:text="${#dates.format(c.testDate, 'dd.MM.yyyy HH:mm')}"></span></td>
            <td><span th:if="${c.presentAtTest}"><i class="fa fa-check" style="font-size:26px;color:green;"></i></span></td>
            
            <td><span th:if="${c.eligibleForInterview}"><i class="fa fa-check" style="font-size:26px;color:green;"></i></span></td>
            <td><span th:text="${c.interviewCallOutcome}"></span></td>
            <td><span th:text="${#dates.format(c.interviewDate, 'dd.MM.yyyy HH:mm')}"></span></td>
            <td><span th:if="${c.presentAtInterview}"><i class="fa fa-check" style="font-size:26px;color:green;"></i></span></td>
            
            <td><span th:text="${#numbers.formatDecimal(c.testGrade, 0, 'COMMA', 2, 'POINT')}"> Test grade </span></td>
            <td><span th:text="${#numbers.formatDecimal(c.hrGrade, 0, 'COMMA', 2, 'POINT')}"> HR grade </span></td>
            <td><strong><span th:text="${#numbers.formatDecimal(c.interviewGrade, 0, 'COMMA', 2, 'POINT')}"> Interview grade </span></strong></td>

            <td><strong><span th:text="${#numbers.formatDecimal((c.interviewGrade+c.hrGrade+c.testGrade)/3, 0, 'COMMA', 2, 'POINT')}"> AVG </span></strong></td>

            <td><span th:text="${c.schoolInfo}"> School </span></td>
            <td><span th:text="${c.schoolYear}"> School year</span></td>
            <td><span th:text="${c.maxSchoolYear}"> Max school year</span></td>
            
            <td><span th:text="${c.details}"></span></td>
        </tr>
    </tbody>
</table>
</div>
</body>
</html>