<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<!DOCTYPE html>
<html lang="en">
<head>
  <title>View candidates</title>
  <div th:insert="/fragments :: includes"> </div>

</head>
<body>

<body>
<header th:insert="/fragments :: menu"> </header>
<div class="table-responsive">
<table class="table table-striped table-sm table-hover">
    <thead>
        <tr>
            <th> Id </th>
            <th> Name </th>
            <th> Surname </th>
            <th> Email </th>
            <th> Phone </th>
            <th title="Eligible for test">TE</th>
            <th title="Called for test">TC</th>
            <th title="Test date">TD</th>
            <th title="Present at test">TP</th>
            
            <th title="Eligible for interview">IE</th>
            <th title="Called for interview">IC</th>
            <th title="Interview date">ID</th>
            <th title="Present at interview">IP</th>
            
            <th title="Test grade">GT</th>
            <th title="HR grade">GHR</th>
            <th title="Interview grade">GI</th>
            <th title="Overall grade">AVG</th>
            
            <th title="School">Sch</th>
            <th title="School year">Yr</th>
            <th title="School max year">MxYr</th>
            
            <th>Comments</th>
            
            <th>Created</th>
        </tr>
    </thead>
    <tbody>
    <tr th:if="${candidates.empty}">
            <td colspan="15"> No Candidates Available </td>
        </tr>
        <tr th:each="c : ${candidates}">
            <td><span th:text="${c.id}"> Id </span></td>
            <td><A th:href="@{/demo/edit(id=${c.id})}"><span th:text="${c.name}"></span></A></td>
            <td><span th:text="${c.surname}"> Surname </span></td>
            <td><span th:text="${c.email}"> Email </span></td>
            <td><span th:text="${c.phone}"> Phone </span></td>
            
            <td><span th:if="${c.eligibleForTest}"><i class="fa fa-check" style="font-size:26px;color:green;"></i></span></td>
            <td><span th:text="${c.testCallOutcome}"></span></td>
            <td><span th:text="${#dates.format(c.testDate, 'dd.MM.yyyy HH:mm')}"></span></td>
            <td><span th:if="${c.presentAtTest}"><i class="fa fa-check" style="font-size:26px;color:green;"></i></span></td>
            
            <td><span th:if="${c.eligibleForInterview}"><i class="fa fa-check" style="font-size:26px;color:green;"></i></span></td>
            <td><span th:text="${c.interviewCallOutcome}"></span></td>
            <td><span th:text="${#dates.format(c.interviewDate, 'dd.MM.yyyy HH:mm')}"></span></td>
            <td><span th:if="${c.presentAtInterview}"><i class="fa fa-check" style="font-size:26px;color:green;"></i></span></td>
            
            <td><span th:if="${c.testGrade > 0}"th:text="${#numbers.formatDecimal(c.testGrade, 0, 'COMMA', 2, 'POINT')}"> Test grade </span></td>
            <td><span th:if="${c.hrGrade > 0}"th:text="${#numbers.formatDecimal(c.hrGrade, 0, 'COMMA', 2, 'POINT')}"> HR grade </span></td>
            <td><strong><span th:if="${c.interviewGrade > 0}"th:text="${#numbers.formatDecimal(c.interviewGrade, 0, 'COMMA', 2, 'POINT')}"> Interview grade </span></strong></td>

            <td><strong><span th:if="${(c.interviewGrade+c.hrGrade+c.testGrade)/3 > 0}"th:text="${#numbers.formatDecimal((c.interviewGrade+c.hrGrade+c.testGrade)/3, 0, 'COMMA', 2, 'POINT')}"> AVG </span></strong></td>

            <td><span th:text="${c.schoolInfo}"> School </span></td>
            <td><span th:if="${c.schoolYear > 0}" th:text="${c.schoolYear}"> School year</span></td>
            <td><span th:if="${c.maxSchoolYear > 0}" th:text="${c.maxSchoolYear}"> Max school year</span></td>
            
            <td><span th:text="${c.details}"></span></td>
            
            <td><span th:text="${#dates.format(c.createdOn, 'dd.MM.yyyy HH:mm')}"></span></td>
            
        </tr>
    </tbody>
</table>
</div>
</body>
</html>